* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
   left: 0;
   right: 0;
}
html {
    text-rendering: optimizeLegibility;
}

body{
    margin: 0;
    background-color: black;
    position: relative;
    font-size: 17px;
    font-weight: lighter;
    font-family: "Segoe UI";
    left: 0;
    right: 0;
    width: 100%;
}

main{
    position: relative;
    width: 100%;
    position: relative;
    top: 71px;
    background-color: bisque;
}
/* home css */

#about-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 15px;
    justify-content: flex-start;
}

#about-text-box{
    width: 25%;
    text-align: center;
}
#about-icon{
    width: 35%;
    text-align: center;
}
.about-text{
    font-size: 5.5vw;
    color: white;
    size: 10em;
}
/* */

.flex-container {
    background-color: rgb(0, 0, 0);
    color:white;
    display: flex;
    flex-direction: column;
}
.art-container {
    display: flex;
    background-image: url(https://media.giphy.com/media/OKEYg2ISpaedy/giphy.gif);
    background-size: 100% 100vh;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 100vh;
}
.contact-container {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.coming-soon{
    padding: 10px;
    text-align: center;
    align-content: center;

}
.caution-icon{
    width: 60vw;
    max-width: 348px;
    max-height: 337px;
}
.caution-font{
    font-size: 5.5vw;
    color: white;
    size: 10em;
}

.contact-me{
    padding: 10px;
    text-align: center;
    align-content: center;

}
.contact-icon{
    width: 40vw;
    max-width: 348px;
    max-height: 337px;
}
.contact-font{
    font-size: 3vw;
    color: white;
    size: 10em;
}
          /*Header css*/
header {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.767);
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0px;
    position: absolute;
    z-index: 1;
}

            /* Start of left-aligned navigation bar*/
.nav__links {
    list-style:none;
    display:flex;
    
}

.nav__links li {
    display: inline-block;
    padding-right: 10px;
    font-weight: bold;
    font-size: 18px;
    color: rgba(223, 223, 223, 0.774);
    text-decoration:none;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-decoration:none;
}

.nav__links li a:hover {
    color: rgba(223, 223, 223, 0.774);
    text-decoration: underline white;
}
/* End of navigation bar css */

/* center aligned LOGO CSS */

.logo-wrap{
    text-align: center;
    align-content: center;
    max-width: 100%;
    transition: all 0.3s ease 0s;
}

.logo{
    cursor: pointer;
    width: 110.5px;
    max-height: 59.5px;
    transition: all 0.3s ease 0s;
}
/* end of Logo css*/

/* Header Social bar css*/
.nav_social{
    list-style:none;
    justify-content: space-between;
    width: 137px;
    text-align: end;
    align-items: center;    
}

.nav_links2{
    list-style:none;
    display: inline-block;
    width: auto;
    height: auto;
    padding-right:11.5px;
}

/*End of social bar css*/

           /*Menu Icon*/
.navbar_toggle{
    display: none;
}

            /* Overlay Navigation*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
    background-color: rgb(0,0,0);
    overflow-x: hidden;
    transition: 0s;
    text-align: center;
}
  
.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    margin: 0;
}

.content-two{
    padding: 5%;
    position: absolute;
    width: 100%;
    bottom:0;
    margin:0;
    min-height: 80px;
    overflow-x: auto;
    overflow-y: hidden;
    
}

.content-two a {
    padding: 8px;
    text-decoration: none;
    transition: 0.3s;
    align-items: center;
    margin: 0;
   
}

.overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 26px;
    color: white;
    display: block;
    transition: 0.3s;
    text-align: center;
}
  
.overlay a:hover, .overlay a:focus {
    text-decoration: underline;
}
  
.overlay .closebtn {
    position: absolute;
    top: 3px;
    right: 4.8%;
    font-size: 50px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}
          /*END of overlay css*/

               /*FOOTER CSS*/
footer{
    background-color: rgb(0, 0, 0);
    color: rgb(167, 167, 167);
    bottom: 0;
    position: relative;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
}

                /* Contact Form CSS*/
div.elem-group {
    margin: 50px;
    }
    
label {
    display: block;
    padding-bottom: 4px;
    font-size: 1.25em;
    color: white;
}
    
input, select, textarea {
    border-radius: 2px;
    background-color: rgba(68, 68, 68, 0.288);
    color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
    width: 65vw;
    padding: 8px;
    }
    
textarea {
    height: 250px;
    }
    
button {
    height: 50px;
    background: white;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    font-size: 1.2em;
    border-radius: 19px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 115px;
}
    
button:hover {
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
}

            /* Mobile View*/
@media screen and (max-width: 768px){
    .nav__links,
    .nav_social {
        display: none;
    }
    .navbar_toggle{
        display: block;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.945);
        float:right;
    }
}
@media screen and (max-height: 450px) {
    .overlay, .overlay-content {overflow-y: auto;}
    .overlay a , .overlay-content a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}
