@import "../Assets/scss/variables.scss";
@import "../Assets/scss/breakpoints.scss";

main{
  min-height: 100px;
  width: 100%;
}
section.introBox{
  padding-top: 80px;
  margin-bottom: 10rem ;

  .intro{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //flex-wrap: wrap;
    .magazine{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 5rem 1rem;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      max-width: 1320px;
      
      @include media("<560px"){
        padding: 1.5rem;
      }

      .description{
        width: 61%;
        margin-left: 3rem;
        @include media("<1255px"){
          width: 55%;
        }
        @include media("<840px"){
          width: 50%;
        }
        @include media("<755px"){
          width: 40%;
        }
        @include media("<635px"){
          width: 35%;
        }
        @include media("<592px"){
          width: 30%;
        }
        @include media("<560px"){
          width: 100%;
          margin-left: 0;
        }
        h1{
          line-height: 3.7rem;
          letter-spacing: 1.1px;
          font-family: "Anton";
          text-transform: uppercase;
          font-weight: 600;
          font-size: 4.2rem;
          margin-bottom: 15px;
          cursor: default;
          @include media(">1300px"){
            font-size: 6.5em;
            line-height: 5rem;
          }
          
          small{
            font-size: 2.6rem;
            //margin-bottom: 1rem;
          }
          strong{
            vertical-align: top;
            color: wheat;
          }
        }
        p{
          font-weight: 600;
          font-size: 1.5rem;
          @include media("<993px"){
            font-size: 1.2rem;
          }
        }
      }
      
      img.face{
        width: 35%;
        //width: 419px;
        min-width: 300px;
        filter: grayscale(1.5);
        transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        z-index:23;

        
        &:hover{
          filter: contrast(110%);
          transform: rotate(-2deg) scale(1.02);
          -webkit-transform: rotate(-2deg) scale(1.02);
          -moz-transform: rotate(-2deg) scale(1.02);
          transition: all .5s ease;
        }
      }
    }
    a{
      text-decoration: none;
    }
    a.btn{
      color: rgb(255, 255, 255);
      background-color: rgb(61, 61, 61);
      border-radius: 7px;
      width: 100%;
      max-width: 10rem;
      margin: 1rem auto;
      letter-spacing: 1.5px;
      font-family: "Anton";
      text-transform: uppercase;
      transition: all 0.35s ease;
      

      &:hover{
        text-decoration: none;
        background-color: rgb(61, 61, 61);
        transform:  scale(0.9);
        background-color: rgb(39, 39, 39);
      }
    } 
    a.btn.desktop{
      @include media("<560px"){
        display: none;
      }
    }
    a.btn.mobile{
      @include media(">560px"){
        display: none;
      }
      margin-top: 0;
    }
    img.scroll{
      //cursor:url(https://www.flaticon.com/svg/static/icons/svg/37/37085.svg) , default;
      cursor: default;
      width: 50px;
      margin: 1rem auto;
    }
  }
}

section.tools, section.projects{
  margin-bottom: 10rem ;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

section.tools{
    padding: 2rem;
    .grayCircle{
        padding: 0.15rem;
        margin: 0.3rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: #1d1d1f2d;
    }
    .slider_width{
        max-width: 650px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 5px;
        width: 100%;
        height: 410px;
        background-color: rgba(0, 0, 0, 0.397);
        cursor: ew-resize;
    }
    @include media("<470px"){
        
    }
}

section.projects{

  .tiles_container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    border-top: 1px solid hsla(0, 0%, 100%, 0.2);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  }
}
