@import "../Assets/scss/variables.scss";
@import "../Assets/scss/breakpoints.scss";

.longCard{
    border-radius: 10px;
    width: 20rem;
    height: 410px;
    cursor: ew-resize;

    @include media("<470px"){
        width: 12rem;
    }

    .card{
        &-body{
            display: flex;
            align-content: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        &-title{
            margin: 1rem;
        }
    }
    img{
        height:78px; 
        width:78px;
        padding: .75rem;
        border-radius: 1rem;
        background-color: transparent;
        @include noSelectOrDragPointer;

        @include media("<370px"){
          padding: 0.25em;
        }
        @include media("<470px"){
            height:58px; 
            width:58px;
            padding:0.35rem;
        }
    }
}