/* “Good design is as little design as possible.”
Dieter Rams 
*/
@font-face {
  font-family: "SF Pro Text";
  src: url("//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.woff");
}
@font-face {
  font-family: "Helvetica Neue";
  src:  url("//db.onlinewebfonts.com/t/cc9c992be5b7d9e9d1d38254fe057492.woff") format("woff");
}

@import "./breakpoints.scss";
//-------------------------------------------------------------------------------------------------------------------
* , html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  width: 5px;
} 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
  border-radius: 100px;
} 
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(184, 184, 184, 0.911); 
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family:  "Helvetica Neue", -apple-system, system-ui ,BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 16px;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  @include media("<=phone"){
    background-color:orangered;
  }
  img {
    image-rendering: auto;
  }
  header{
    background-color: rgba(0, 0, 0, 0.616);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 0.9px solid rgba(248, 248, 255, 0.397);
    line-height: inherit;
    nav{
      text-align: center;
      a{
        color: white;
      }
      a.navbar-brand{
        letter-spacing: 0.025em;
        &:hover {
          color:rgb(255, 255, 255);
        }
      }
      .nav-item a{
        font-size: 1.3333333333em;
        line-height: 0.75em;
        &:hover{
          color:rgb(128, 204, 189);
          filter: saturate(600%);
          -webkit-filter: saturate(600%);
        }
      }
    }
  }
  .fullHeight{
    height: 100vh !important;
  }
  .content-wrapper{
    min-height: 100px;
    margin-top: 50.663px;
    background: linear-gradient(180deg, rgb(15,48,42) 0%, white 50%, black 100%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px) ;
  }
  .intro{
    background-color: rgba(0, 0, 0, 0.329);
    width: 50%;
    height:100%;    
    h1{
      font-weight: 600;
      font-size: 3rem;
      cursor: default;
    }
    a{
      /*color: transparent !important;
      -webkit-text-stroke: 0.7px white;*/
    }
  }
  #techs{
    z-index: 566;
  }
  .appear1{
    opacity:0;
  }
}

