/* “Good design is as little design as possible.”
Dieter Rams 
*/
@font-face {
  font-family: "SF Pro Text";
  src: url("//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.woff");
}
@font-face {
  font-family: "Helvetica Neue";
  src:  url("//db.onlinewebfonts.com/t/cc9c992be5b7d9e9d1d38254fe057492.woff") format("woff");
}

@import "./breakpoints.scss";

@mixin flex{
  display: flex;
}
@mixin flex-center{
  @include flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-down{
  @include flex-center;
  flex-direction: column;
}

//-------------------------------------------------------------------------------------------------------------------
* , html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  width: 5px;
} 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0); 
  border-radius: 100px;
} 
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(184, 184, 184, 0.911); 
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family:  "Helvetica Neue", -apple-system, system-ui ,BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 16px /1.9em;
  background-color: rgb(65, 122, 112);
  overflow: hidden;
  @include media("<=phone"){
    background-color:orangered;
  }
  img {
    image-rendering: auto;
  }
  .center{
    @include flex-center;
  }
  .centerDown{
    @include flex-down;
  }
  header{
    background-color: rgba(0, 0, 0, 0.516);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 0.9px solid rgba(248, 248, 255, 0.397);
    line-height: inherit;
    nav{
      text-align: center;
      a{
        color: white;
      }
      a.navbar-brand{
        letter-spacing: 0.025em;
        &:hover {
          color:rgb(255, 255, 255);
        }
      }
      .nav-item a{
        font-size: 1.3333333333em;
        line-height: 0.75em;
        &:hover{
          color:rgb(128, 204, 189);
          filter: saturate(600%);
          -webkit-filter: saturate(600%);
        }
      }
      .menuRotate{
        -moz-transform: scale(-1, -1);
        -o-transform: scale(-1, -1);
        -webkit-transform: scale(-1, -1);
        transform: scale(-1, -1);
        transition: transform 0.8s ease;
      }
      .menuOriginal{
        transform: scale(1,1);
        transition: transform 0.8s ease;
      }
    }
  }
  .intro1, .intro2, #techs {
    min-height: 100vh;
  }
  .content-wrapper{
    min-height: 100px;
    margin-top: 50.663px;
    background: linear-gradient( rgb(15,48,42) 5%,  rgb(255, 255, 255) 75%);
  }
  .intro{
    height:100vh;    
    h1{
      font-weight: 600;
      font-size: 4rem;
      cursor: default;
    }
    a{
      &:hover{
        text-decoration: none;
      }
    } 
  }
  .moreIntro{
    width: 60%;
    max-width: 950px;
    margin: 0 auto;
    font-size: 29px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: normal;
    text-align: center;
    font-stretch: normal;
    font-style: normal;
  }
  .appear1{
    opacity:0;
  }
  .projects{
    color: black;
    h3{
      line-height: 1.5;
      font-size: 10vw;
      kbd{
        font-family: "SF Pro Text";
      }
    }
    .card{
      width: 30rem;
      border-radius: 20px;
      img{
        max-height: 15rem;
      }
    }
  }
}

